@import url('https://fonts.googleapis.com/css?family=Outfit');
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.chat {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 20px;
    box-sizing: border-box;
}

.chat-messages {
    flex: 1; 
    overflow-y: auto; 
}

#chat-form {
    display: flex;
    margin-top: 20px;
}

#chat-input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#send-button, #clear-button { 
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 180, 214);
    color: rgba(0, 0, 0, 0.65);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.message-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-icon {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('/static/guest_icon.png'); 
    background-position: center; 
    background-size: contain; 
}
