@import url('https://fonts.googleapis.com/css?family=Outfit');
h1 {
    color: rgb(255, 133, 192);
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;

}

h2 {
    color: rgb(255, 133, 192);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}

h3 {
    color: rgba(0, 0, 0, 0.65);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

p {
    color: rgba(0, 0, 0, 0.65);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.fp{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    margin-right: 30%;
    float: right;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 70vw;
    place-items: center;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin: auto;
}
.nav {
    background-color: #f3c0c0; 
}
.tab {
    margin: auto;
    background-color: #f3c0c0; 
    overflow: hidden;
    display: flex;
    justify-content: flex-end; 
    padding: 14px 20px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Outfit', sans-serif;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.icon {
    width: 40px;
    height: 40px; 
    position: fixed;
    cursor: pointer; 
}