<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles_home.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icons/logo.png">
    <script>
        function checkLoginAndRedirect(userEmail) {
            if (userEmail === 'Guest') {
                alert('Please login.');
                return false; 
            }
            return true; 
        }
    </script>
</head>
<body>
    <div class="top-nav">
        <a href="/">Login</a>
        <a href="profile">Profile</a>
        <a href="message">Message</a>
        <a href="/logout">Logout</a>
    </div>

    <p>Welcome back, {{ user_email }}!</p>
    <div class="container">
        <div class="body-container">
            <h2>Find someone interesting here</h2>
            <a href="/post" class="button" onclick="return checkLoginAndRedirect('{{ user_email }}')">Post</a>
        </div>
    </div>

    {% include 'sidebar.html' %}
    <script src="/static/js/script.js"></script>
</body>
</html>