<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/design.png">
</head>
<body>
    <p>Welcome back, Guest!</p>

    <div class="container">
        <div class="body-container">
            <h2>Find someone interesting here</h2>
            <!-- update posts here -->

            <!-- this button should trigger page to allow user to post something -->
            <form action="/home" >
                <input type="submit" value="Post">
            </form>
        </div>
        <div class="sidebar">
            <a href="/home">Profile</a>
            <a href="/home">Message</a>
            <a href="/home">Logout</a>
        </div>
    </div>
</body>
</html>