<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="/static/css/message.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icons/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="chat">
        <div class="chat-messages" id="chat-messages">
            <!-- Messages will be displayed here -->
            {% for message in messages %} <!--load messages from database-->
            <div class="message-container">
                <default>{{ message.username }}: {{ message.message }}</default> <!--in this format-->
            </div>
            {% endfor %}
        </div>
        <form id="chat-form">
            <input type="text" id="chat-input" placeholder="Type your message here...">
            <button type="submit" id="send-button">Send</button>
            <button type="button" id="clear-button">Clear Messages</button>
        </form>
    </div>
    <script>
        var username = "{{username}}"; 
    </script>
    <script src="/static/js/message.js"></script>
</body>
</html>