{% extends 'base.html' %}

{% block title %}Home - My Posts{% endblock %}

{% block content %}
        <h1>My Posts</h1>
        <div id="posts-container" class="post-container-top-space">
            {% for post in posts %}
            <div class="post-summary" data-posting-time="{{ post.posting_time }}" onclick="location.href='/posts/{{ post._id }}'">
                <div>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content_preview }} - Posted by: {{ post.author }}</p>
                </div>
                {% if post.last_reply_time %}
                <div class="post-last-reply-time">
                    <small>Last reply: <span class="time-ago" data-timestamp="{{ post.last_reply_time }}"></span></small>
                </div>
                {% else %}
                <div class="post-last-reply-time">
                    <small>No replies yet</small>
                </div>
                {% endif %}
            </div>
            {% else %}
            <p>You have not posted anything yet.</p>
            {% endfor %}
        </div>
    </div>
    <script src="/static/js/post.js"></script>
{% endblock %}