<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles_detail.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/design.png">
</head>
<body>
    <a href="/post" class="back-button">&larr; Back</a> 
    <div id="thread-content">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p class="post-author">Posted by: {{ author }}</p>
    </div>

    <div id="replies-container">
        <h3>Replies</h3>
        {% for reply in replies %}
            <div class="reply">
                <p>{{ reply.content }}</p>
                <small class="time-ago" data-timestamp="{{ reply.timestamp }}"></small>
            </div>
        {% endfor %}
    </div>
    
    <div id="reply-section">
        <h3>Leave a Reply</h3>
        <form id="replyForm">
            <textarea id="replyContent" placeholder="Type your reply here..."></textarea>
            <button type="submit">Submit Reply</button>
        </form>
    </div>
    

    <script src="/static/js/functions_detail.js"></script>
    
    
</body>
</html>
