{% extends 'base.html' %}

{% block title %}Home - Explore{% endblock %}

{% block content %}
    <div class="container">
        <div id="myNewThreadSidebar" class="new-thread-sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNewThreadSidebar()">&times;</a>
            <form id="newThreadForm">
                <input type="text" id="newThreadTitle" placeholder="Title" />
                <textarea id="newThreadContent" placeholder="What's happening?"></textarea>
                <button type="submit">POST</button>
            </form>
        </div>
        <div id="posts-container" class="post-container-top-space">
            {% for post in posts %}
            <div class="post-summary" data-posting-time="{{ post.posting_time }}" onclick="location.href='/posts/{{ post._id }}'">
                <div>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content_preview }} - Posted by: {{ post.author }}</p>
                </div>
                {% if post.last_reply_time %}
                <div class="post-last-reply-time">
                    <small>Last reply: <span class="time-ago" data-timestamp="{{ post.last_reply_time }}"></span></small>
                </div>
                {% else %}
                <div class="post-last-reply-time">
                    <small>No replies yet</small>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <img src="/static/icons/post.png" alt="New Thread" class="icon new-thread-icon" onclick="toggleNewThreadSidebar()">
    </div>
    <script src="/static/js/post.js"></script>

{% endblock %}